header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 5% 30px 5%;
    border: 1px solid red;
}

.menu li {
    display: inline-block;
    padding: 10px 20px;
    border: 1px solid red;
}

button {
    display: block;
    padding: 10px 20px;
    background-color:#15ee20;
    border: green;
    border-radius: 5px;
}

a {
    text-decoration: none;
}

.hero {
    display: flex;
    padding: 5% 5%;
    border: 1px solid red;
}

.hero-text {
    width: 60%;
    border: 1px solid red;
}

.hero-img {
    width: 40%;
    border: 1px solid red;
}

.button_2 {
    display: inline-block;
    padding: 10px 20px;
    background-color: white;
    border-radius: 5px;
    border: 1px solid black ;
}

.grid {
    display: flex;
    padding: 20% 5%;
    text-align: center;
    border: 1px solid red;
}

.col-50 {
    width: 50%;
    padding: 10% 20px;
    border: 1px solid red;
}

.col-33 {
    width: 33%;
    border: 1px solid red;
    padding: 10% 20px;
}

.col-25 {
    width: 25%;
    border: 1px solid red;
    padding: 10% 20px;
}

.cover {
    border: 1px solid red;
    height: 60vh;
    width: 100%;
    display: flex;
    background: no-repeat fixed;
    background-size: cover;
    justify-content: center;
    align-items: center;
}

.cover-text {
    text-align: center;
    max-width: 700px;
}

.card {
    display: block;
    width: 100%;
}

.img-card {
    height: auto;
    width: 100%;
}

.card-text {
    position: absolute;
    padding-top: 10px;
}

footer{
    background-color: #eeeeee;
}

@media (max-width: 768px) {

    .header, .button {
        font-size: 12px;
    }

    .hero {
        flex-wrap: wrap;
    }
    
    .hero-text, .hero-img {
        width: 100%;
    }

    .grid {
        display: flex;
        flex-wrap: wrap;
    }

    .col-25, .col-33, .col-50 {
        width: 100%;
    }
}